<div style="background-image:url({{ site.url }}/images/wall.jpg); height: 550px;" class="page-lead">
      <div class="wrap page-lead-content">
        <h1>Easy Listings Map</h1>
        <h2>Easy to use and advanced map extension for Easy Property Listings</h2>
        <a class="btn-inverse" href="{{ site.url }}/doc">Start Using</a> &nbsp; or &nbsp; <a class="btn-inverse" href="https://github.com/codewp/easy-listings-map/archive/master.zip">Download</a>
      </div><!-- /.page-lead-content -->
</div>